@font-face {
    font-family: 'kollegas';
    src: url('../fonts/kollegas.eot?69957715');
    src: url('../fonts/kollegas.eot?69957715#iefix') format('embedded-opentype'),
    url('../fonts/kollegas.woff2?69957715') format('woff2'),
    url('../fonts/kollegas.woff?69957715') format('woff'),
    url('../fonts/kollegas.ttf?69957715') format('truetype'),
    url('../fonts/kollegas.svg?69957715#kollegas') format('svg');
    font-weight: normal;
    font-style: normal;
}