@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-global-styles;
@include foundation-typography;
@import "fonts";
.icon {
    font-family: "kollegas";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

body, html {
    height: 100%;
    width: 100%;
}
#male, #female {
    .icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        text-shadow: 0 0 4px rgba(255,255,255,0.3);
        font-size: rem-calc(120);
        @include breakpoint(medium up) {
            font-size: rem-calc(150);
        }
        @media only screen and (max-height: 550px) {
            font-size: rem-calc(120);
        }
        @media only screen and (max-height: 450px) {
            font-size: rem-calc(80);
        }
    }
}
#female {
    background: #ee88cd;
    height: 50%;
    position: relative;
    .icon {
        &:before {
            color: #E3099B;
            content: '\e801';
        }
    }
    .salary {
        color: #e3099b;
    }
}
#male {
    background: #87F1FF;
    height: 50%;
    position: relative;
    .icon {
        &:before {
            color: #0086a3;
            content: '\e800';
        }
    }
    .salary {
        color: #0086a3;
    }
}
.salary {
    color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: rem-calc(34);
    width: 100%;
    text-align: center;
    @include breakpoint(medium up) {
        bottom: 10%;
        font-size: rem-calc(60);
    }
}

#about {
    position: absolute;
    top: rem-calc(30);
    right: rem-calc(30);
    .icon {
        &:hover {
            color: #eee;
        }
    }
    .question {
        z-index: 100;
        font-size: rem-calc(24);
        cursor: pointer;
        &:before {
            content: '\e802';
        }
    }
    .close {
        z-index: 100;
        position: absolute;
        top: rem-calc(10);
        right: rem-calc(10);
        cursor: pointer;
        font-size: rem-calc(24);
        &:before {
            content: '\e803';
        }
    }
    .about-content {
        position: fixed;
        top: rem-calc(20);
        right: -100%;
        height: auto;
        width: 300px;
        background-color: rgba(0,0,0,0.7);
        padding: rem-calc(18);
        color: white;
        transition: right 0.3s cubic-bezier(.42,0,.58,1);
        p {
            font-size: rem-calc(20);
        }
        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
            @include breakpoint(medium up) {
                color: #ccc;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        @include breakpoint(medium up) {
            background-color: rgba(0,0,0,0.5);
            left: auto;
            width: 300px;
        }
    }
    &.open {
        .about-content {
            right: rem-calc(20);
        }
    }
}